@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: rgb(202, 197, 197);
    
    font-family: "Fira Sans", sans-serif;
}

.sidebar nav{
    padding: 45px;
    
}

.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: rgb(26, 24, 24);
}
.main{
    background-color: white;
    width: 80vw;
}

.container{
    display: flex;
    /* border: 2px solid black; */
    position: relative;
}

.infoContainer{
    background-color: white;
    /* border: 2px black solid; */
    height: 70vh;
    width: 68vw;
    position: relative;
    left: 20%;
    top: 10%;
    display: flex;
    justify-content: space-around;
}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Source Code Pro", monospace;
}

.hello{
    font-size: 45px;
    
}
.name{
    font-size: 40px;
    font-weight: bold;
    font-family: "Fira Sans", sans-serif;
}
.about{
    font-size: 35px;
}

.moreabout{
    font-size: 30;
    margin-top: 20px;
    font-family: "Fira Sans", sans-serif;
}

.buttons {
    margin-top: 26px;
}

.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}
.btn-sm{
    font-size: 10px;
    width: 60px;

}
.btn:hover{
    background-color: white;
    color: black;
}

.devPic img{
    height: 70vh;
}

.contactform{
    padding: 0 34px;
    padding-top: 2px;
    position: relative;
    left: 20%;
    top: 10%;
    font-family: "Fira Sans", sans-serif;
    justify-content: space-around;

}

.contactform h1{
    
    font-family: "Source Code Pro", monospace;
    text-align: center;
}

.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;

}
.contactform form div input{
    width: 20vw;
    border-radius: 6px 0;
    padding: 4px;
}

    
#emailHelp{
    font-size: 15px;
    color: black;
    margin: 0 5px;
}

#form-check{
    flex-direction: row;

}

#form-check input{
    width: 24px;

}

.skillsItems{
    margin: 2px;

}
h1{
    font-family: "Fira Sans", sans-serif;
    margin: 35px;
    
}
p{
    font-family: "Fira Sans", sans-serif;
    
}

.intro h2{
    margin: 0 12px;
}

.intro p{
    margin: 12px;
}
.skillscontainer{
    padding: 12px;
}
.skillItems{
    display: flex;
    align-items: center;
    font-weight: 900px;
}

.skills{
    width: 80px;
    height: 23px;
    background-color: coral;
    border: 2px solid black;
}

.hundered{
    width: 265px;    
}
.seventy{
    width: 165px;
}
.eighty{
    width: 185px;
}
.ninety{
    width: 245px;
}
.eighty-five{
    width: 255px;
}
.seventy-five{
    width: 165px;
}
.sidebarGo{
    /* transform: translate(-443px, 0px); */
    /* position: absolute; */
}
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.cross{
    margin-left: 159px;
}
.sidebar{
        /* transform: translate(-443px, 0px); */
        /* position: absolute; */
}
.skillscontainer{
    /* border: 2px black solid; */
    padding: 20px 10px;
    margin: 20px 0;
}

/* ------------------- */

#main {
    transition: margin-left .5s;
    padding: 16px;
  }

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }


  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }